extends layout

block content
    div.container

        h1 The greate chat room
        form#chat_form(action="/", method="post")
            input#message( type="text", name="message", placeholder="Write your message...", size="50", autofocus)
            button.btn.waves-effect.waves-light( type="submit", name="action") Send


        section#zone_chat




