extends layout

block content
  div.container
    h1#result-text.result  PLAY WITH ME

    a#main-record-button.waves-effect.waves-light.btn-floating.btn-large(href="#")
      i.material-icons.left keyboard_voice
