extends layout

block content
  div.container
    h1#result-text.result.center.white-text  PLAY WITH ME

    div.center
      a#main-record-button.waves-effect.waves-light.btn-floating.btn-large.cyan.stopped(href="#")
        i.material-icons.left keyboard_voice
