extends layout

block content
  div.container
    textarea#result-text.materialize-textarea.result.center.white-text
    //textarea#result-text.result.center.white-text

    div.center
      a#main-record-button.waves-effect.waves-light.btn-floating.btn-large.cyan.stopped(href="#")
        i.material-icons.left keyboard_voice

  // Dropdown Trigger
  // Dropdown Trigger
  div.center
  .row
    a.dropdown-trigger.btn(href='#', data-target='dropdown1') Input Language
    // Dropdown Structure
    ul#dropdown1.dropdown-content
      li
        a(href='#!') English
      li
        a(href='#!') French
      li
        a(href='#!') Finnish
      li
        a(href='#!') Danish
      li
        a(href='#!') Spanish

    a.dropdown-trigger.btn(href='#', data-target='dropdown2') Output Language

    ul#dropdown2.dropdown-content
      li
        a(href='#!') English
      li
        a(href='#!') French
      li
        a(href='#!') Finnish
      li
        a(href='#!') Danish
      li
        a(href='#!') Spanish


