extends layout

block content
  div.container
    textarea#result-text.materialize-textarea.result.center.white-text
    //textarea#result-text.result.center.white-text

    div.center
      a#main-record-button.waves-effect.waves-light.btn-floating.btn-large.cyan.stopped(href="#")
        i.material-icons.left keyboard_voice

  // Dropdown Trigger
  div.container.center
  .row

    .input-field.col.s2
      select#inputlang
        option(value='' disabled='' selected='') Input language
        option(value='en-US') English
        option(value='fr-FR') French
        option(value='de-DE') German
        option(value='es-ES') Spanish
        option(value='it-IT') Italian
        option(value='nl-NL') Dutch
        option(value='pl-PL') Polish
      label Input
    .input-field.col.s2
      select#outputlang
        option(value='' disabled='' selected='') Output language
        option(value='en-US') English
        option(value='fr-FR') French
        option(value='de-DE') German
        option(value='es-ES') Spanish
        option(value='it-IT') Italian
        option(value='nl-NL') Dutch
        option(value='pl-PL') Polish
      label Output



