doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    nav
      div.nav-wrapper.container
        a(href="#").brand-logo multilingual
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href="#") Try it
          li
            a(href="#") Chat room

    //div.main-container
    //    include ../public/pictures/earth.svg


    block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', type="text/javascript")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js', type="text/javascript")
    script(src='/javascripts/speech.js', type="text/javascript")
    script(src='/javascripts/scripts.js', type="text/javascript")
